<mat-toolbar>
  <mat-toolbar-row class="mat-elevation-z1">
    <span>Presence Tracker</span>

    <span class="spacer"></span>
    <div class="active-user">
      <ng-container *ngIf="activeUsers.length > 5">
        <div [style.right.px]="5">
          +{{activeUsers.length - 5}}
        </div>
      </ng-container>
      <div *ngFor="let activeUser of activeUsersUI; let i=index" [style.right.px]="(i+1)*42">
        <img [src]="activeUser?.user?.avtar" [alt]="activeUser?.user?.firstName"
          [matTooltip]="activeUser?.user?.firstName + ' ' + activeUser?.user?.lastName">
      </div>


    </div>
    <button mat-icon-button color="primary" (click)="showDocumentHistory()" matTooltip="View Document History">
      <mat-icon aria-hidden="false" aria-label="Document History">history</mat-icon>
    </button>
    <button mat-raised-button color="primary">
      <mat-icon aria-hidden="false" aria-label="Share">share</mat-icon> Share
    </button>
    <div class="user-profile">
      <div (click)="logoutUser()" matTooltip="Logout">
        <img [src]="userDetails?.avtar" [alt]="userDetails?.email">
      </div>
    </div>
  </mat-toolbar-row>

</mat-toolbar>
