<!-- Login card -->
<div id="login-section">
  <div class="frame">
    <div class="login">
      <div class="login__content">
        <div class="login--profile">
        </div>
        <form class="login--form" (ngSubmit)="validateUser()" #loginForm="ngForm">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="text" autocomplete="username" class="form-control" placeholder="test@domain.com"
              [(ngModel)]="loginFrom.email" name="userName" #userName="ngModel" required>
            <div *ngIf="userName.invalid && userName.touched" class="error">
              <mat-hint *ngIf="userName.errors?.required">Username is required.</mat-hint>
            </div>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" autocomplete="password" class="form-control" placeholder="Password"
              [(ngModel)]="loginFrom.password" name="userPassword" #userPassword="ngModel" required>
            <div *ngIf="userPassword.invalid && userPassword.touched" class="error">
              <mat-hint *ngIf="userPassword.errors?.required">Password is required.</mat-hint>
            </div>
          </mat-form-field>

          <div>
            <button mat-raised-button class="login-btn" color="primary" [disabled]="loginForm.invalid">Login</button>

          </div>

          <div>
            <a mat-button class="login-btn" color="primary" routerLink="/register">Register with us.</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
