<!-- register card -->
<div id="register-section">
  <div class="frame">
    <div class="register">
      <div class="register__content">
        <div class="register--profile">
        </div>
        <form class="register--form" #registerUserForm="ngForm">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput type="text" autocomplete="first-name" placeholder="Enter First Name"
              [(ngModel)]="userForm.firstName" name="firstName" #firstName="ngModel" required>
            <div *ngIf="firstName.invalid && firstName.touched" class="error">
              <mat-hint *ngIf="firstName.errors?.required">First Name is required.</mat-hint>
            </div>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" autocomplete="last-name" placeholder="Enter Last Name"
              [(ngModel)]="userForm.lastName" name="lastName" #lastName="ngModel" required>
            <div *ngIf="lastName.invalid && lastName.touched" class="error">
              <mat-hint *ngIf="lastName.errors?.required">Last Name is required.</mat-hint>
            </div>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="text" autocomplete="username" placeholder="test@domain.com"
              [(ngModel)]="userForm.email" name="userEmail" #userEmail="ngModel" required>
            <div *ngIf="userEmail.invalid && userEmail.touched" class="error">
              <mat-hint *ngIf="userEmail.errors?.required">Eamil is required.</mat-hint>
            </div>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" autocomplete="password" placeholder="Password"
              [(ngModel)]="userForm.password" name="userPassword" #userPassword="ngModel" required>
            <div *ngIf="userPassword.invalid && userPassword.touched" class="error">
              <mat-hint *ngIf="userPassword.errors?.required">Password is required.</mat-hint>
            </div>
          </mat-form-field>

          <div class="file-upload">
            <input type="file" placeholder="User Profile" name="userProfile" #userProfile style="display:none;"
              accept="image/*" (change)="uploadFile($event)">
            <button mat-raised-button (click)="userProfile.click()">
              <mat-icon>file_upload</mat-icon>
              Add Profile Picture
            </button>
          </div>



          <div>
            <button mat-raised-button class="register-btn" color="primary" [disabled]="registerUserForm.invalid"
              type="submit" (click)="registerUser()">Register</button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
