<h1 mat-dialog-title>Document History</h1>
<div mat-dialog-content>
  <mat-list>
    <mat-list-item *ngFor="let docUser of data">
      <img matListAvatar [src]="docUser.user.avtar" [alt]="docUser.user.firstName">
      <div mat-line>{{docUser.user.firstName}} {{docUser.user.lastName}}</div>
      <div mat-line> {{docUser.lastActiveTime | date}} </div>
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Close</button>
</div>
